body {
	margin-bottom: 50px;
}


.jumbotron {
  
	background-image: url("http://oboi.ws/wallpapers/big_9941_oboi_temnyj_fon.jpg");

}
.lista {
	border-style: groove;
}

.panel {
	background-color: gray;
	color: black;
}

.panel-body {
	background-color: white;
}
@font-face {
    font-family: 'king'; /*a name to be used later*/
    src: url('Kingthings_Extortion.ttf'); /*URL to font*/
}

.classname {
    font-family: 'king';
    font-size: 60px;

}

.videos {
	background: black;


}

.mostrar td {
	padding-bottom: 10px;
}